/* General styles */
html, body {
    height: 100%; 
    margin: 0; 
    font-family: Arial, sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
}

a {
    color: #b80d29;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1;
}

header {
    background: #5b0992;
    color: #ffffff;  
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: flex-end; 
    padding: 10px; 
}

header nav a {
    color: #ffffff; 
    margin-left: 20px; 
}

header nav a:hover {
    text-decoration: underline; 
}


footer {
    background: #5b0992;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;
}

.back-to-home {
    margin-top: 20px; 
    display: inline-block;
}


.dashboard-header {
    display: flex;
    justify-content: space-between; /* Para alinear el título y el botón */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px 0;
    border-bottom: 2px solid #ccc; /* Línea separadora */
}

/* Título del dashboard */
.dashboard-header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
}

/* Botón de añadir artículo */
.btn-right {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-right:hover {
    background-color: #45a049;
}

/* Lista de artículos */
.article-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0; /* Espaciado para separar la lista del encabezado */
}

/* Cada artículo */
.article-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between; /* Espacia los elementos en los extremos */
    align-items: center; /* Centra verticalmente el contenido */
}

.article-item:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Contenido del artículo */
.article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Título del artículo y fecha de publicación */
.article-info {
    display: flex;
    align-items: center;
}

/* Título del artículo */
.article-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #35424a;
    margin-right: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /
}

.article-title:hover {
    text-decoration: underline;
}

.publication-date {
    font-size: 0.9em;
    color: #777;
    white-space: nowrap; 
    padding-left: 20px; 
    padding-top: 20px; 
}

/* Botón de eliminar */
.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* Evita que el botón se encoja */
}

.delete-button:hover {
    background-color: #c0392b;
}

.delete-form {
    display: inline-block;
}
/* Responsivo */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-right {
        margin-top: 10px;
    }
}



/* Diseño de artículos */

/* Estilo general para la página de detalles del artículo */
.articled-detail {
    max-width: 800px; /* Limita el ancho máximo del contenido */
    margin: 20px auto; /* Centra el contenido en la página */
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo claro para el contenido */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.articled-title {
    font-size: 2em; /* Tamaño de fuente grande para el título */
    color: #35424a; /* Color del título */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.publication-date {
    font-size: 0.9em;
    color: #777; /* Color gris para la fecha */
    margin-bottom: 20px; /* Espacio debajo de la fecha */
}

.articled-content {
    font-size: 1.1em; /* Tamaño de fuente para el contenido del artículo */
    line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
    color: #333; /* Color del texto */
}

.back-to-home {
    display: inline-block; 
    margin-top: 20px; /* Espacio encima del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto del botón */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease; /* Transición suave */
}

.back-to-home:hover {
    background-color: #45a049; /* Cambio de color al hacer hover */
}


/* Contenedor para la página de eliminar artículo */
.delete-article-container {
    text-align: center;
    margin-top: 50px;
}

/* Botón de confirmar eliminación */
.confirm-delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; 
}

/* Botón de cancelar */
.cancel-delete-button {
    background-color: #3498db;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.delete-article-container button,
.delete-article-container a {
    display: block;  /* Los hace ocupar el 100% del ancho de su contenedor */
    margin: 10px auto;  /* Centra los botones y añade un margen de 10px arriba y abajo */
    max-width: 200px;  /* Limita el ancho máximo de los botones */
}





/* Contenedor del formulario */
.add-article-container,
.edit-article-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado del formulario */
.add-article-container h1,
.edit-article-container h1 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Estilo para los inputs del formulario */
.add-article-container form input,
.edit-article-container form input,
.add-article-container form textarea,
.edit-article-container form textarea,
.add-article-container form select,
.edit-article-container form select {
    width: 100%;
    padding: 5px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95em; 
}


.add-article-container form textarea,
.edit-article-container form textarea {
    resize: none; /* No permite redimensionar */
    height: 150px; /* Ajusta la altura del campo content */
}

/* Estilo para el botón de guardar */
.add-article-container form button,
.edit-article-container form button {
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.add-article-container form button:hover,
.edit-article-container form button:hover {
    background-color: #45a049;
}

/* Estilo para el enlace de regreso al dashboard */
.add-article-container a,
.edit-article-container a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.add-article-container a:hover,
.edit-article-container a:hover {
    background-color: #2980b9;
}

/* Espaciado adecuado */
.add-article-container form button,
.edit-article-container form button,
.add-article-container a,
.edit-article-container a {
    margin-top: 10px;
}
