{% extends 'blog/base.html' %}

{% block content %}
    <div class="dashboard-header">
        <h1>Dashboard</h1>
        <a href="{% url 'add_article' %}" class="btn-right">Add New Article</a>
    </div>

    <ul class="article-list">
        {% for article in articles %}
        <li class="article-item">
            <div class="article-content">
                <div class="article-info">
                    <a href="{% url 'edit_article' article.id %}" class="article-title">{{ article.title }}</a>
                    <span class="publication-date">Published on: {{ article.publication_date }}</span>
                </div>
                <a href="{% url 'delete_article' article.id %}" class="delete-button">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
