{% extends 'blog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <h2>Admin Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>

{% endblock %}